/*** 

====================================================================
	Reset
====================================================================

***/
// :root {
//   font-size: calc(1vw + 0.6em);
// }
html {
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
//  font-family: 'Merriweather', serif;
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 20px;
  font-weight: 400;
  background: $gray;
}
body.active {
  overflow: hidden;
}
a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.wrapper{
  max-width:1450px;
  margin: 0 auto 0 280px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main{
  overflow: hidden;
  width: 100%;
  margin-top: 100px;
}
.auto__container {
  position: relative;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1080px;
}
